<div class="nav-edit flex flex-row bg-navbar p-4">
  <h1 class="title-nav uppercase self-center">
    {{ title }}
  </h1>
  <div>
    <div class="close-session">
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <mat-label>
          <div class="user-button" style="display: flex; align-items: center">
            <div>
              <mat-icon class="align-top mr-2">account_circle</mat-icon>
            </div>
            <div class="name-user">
              {{ user.firstName + " " + user.lastName }}
            </div>
            <div>
              <mat-icon>arrow_drop_down</mat-icon>
            </div>
          </div>
        </mat-label>
      </button>
      <mat-menu class="close-button" #beforeMenu="matMenu" xPosition="before">
        <button class="close-account" mat-menu-item (click)="close_session()">
          Cerrar Sesión
        </button>
      </mat-menu>
    </div>

    <!--

      
    <mat-form-field class="user-mat flex-grow" >
      <div class=" flex flex-row justify-between" style="justify-content: flex-end;">
        <div class="pb-4">
          <mat-icon class="align-top mr-2">person</mat-icon>
          <mat-label>{{user.firstName + " " + user.lastName}}</mat-label>
        </div>
        <div>
          <mat-select>
            <mat-option (click)="close_session()">Cerrar Sesión</mat-option>
          </mat-select>
        </div>
      </div>
    </mat-form-field>
    -->
  </div>
</div>
