<div class="m-10 pl-20 pr-20 signup-main">
  <form class="flex flex-col" [formGroup]="registerForm">
    <mat-label class="m-1 tc-mivivienda">Nombres</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Nombres"
        formControlName="name"
        required />
      <mat-error *ngIf="registerForm.get('name')?.invalid">{{
        getMinLengthErrorMessage("name", 3)
        }}</mat-error>

    </mat-form-field>
    <mat-label class="m-1 tc-mivivienda">Apellidos</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Apellidos"
        formControlName="lastname"
        required />
      <mat-error *ngIf="registerForm.get('lastname')?.invalid">{{
        getMinLengthErrorMessage("lastname", 3)
        }}</mat-error>
    </mat-form-field>

    <mat-label class="m-1 tc-mivivienda">Correo Electrónico</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="ejemplo@email.com"
        formControlName="email"
        required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="registerForm.get('email')?.invalid">
        {{        getEmailErrorMessage()        }}
      </mat-error>
    </mat-form-field>

    <mat-label class="m-1 tc-mivivienda">Celular</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Número de celular"
        formControlName="phone"
        required
        maxlength="9"
        minlength="9" />
      <mat-error *ngIf="registerForm.get('phone')?.invalid">
        {{        getPhoneErrorMessage()      }}
      </mat-error>
    </mat-form-field>

    <mat-label class="m-1 tc-mivivienda">Contraseña</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="*********"
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        (change)="passwordMatchErrorMessage()"
        required />
      <button
        mat-icon-button
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
        matSuffix>
        <mat-icon>
          {{
          hidePassword ? "visibility_off" : "visibility"
          }}
        </mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('password')?.invalid">{{
        getPasswordErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <mat-label class="m-1 tc-mivivienda">Confirmar contraseña</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="*********"
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        (change)="passwordMatchErrorMessage()"
        required />
      <button
        mat-icon-button
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
        matSuffix>
        <mat-icon>
          {{          hideConfirmPassword ? "visibility_off" : "visibility"          }}
        </mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('confirmPassword')?.invalid">{{
        getConfirmPasswordErrorMessage()
        }}</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!registerForm.valid"
      (click)="openDialog()">
      Sign Up
    </button>
    <mat-error *ngIf="passwordMatchMessage !== ''">
      {{ passwordMatchMessage }}</mat-error>
  </form>
</div>
