<div class="flex flex-col m-36">
  <div class="flex flex-col">
    <mat-label class="m-2 tc-mivivienda">Correo electrónico</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="ejemplo@email.com"
        [formControl]="email"
        required
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-label class="m-2 tc-mivivienda">Contraseña</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="*********"
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        required
      />
      <button
        mat-icon-button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        matSuffix
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="flex flex-col items-end mb-3">
      <p class="underline tc-mivivienda">Olvidaste tu contraseña?</p>
    </div>
    <button
      mat-raised-button
      class="uppercase"
      color="primary"
      aria-label="Button to login"
      [disabled]="!email.valid || !password.valid"
      (click)="checkUser()"
    >
      Iniciar Sesión
    </button>
  </div>
</div>
