<div class="flex flex-col mx-4 md:mx-auto md:max-w-md lg:max-w-lg xl:max-w-xl m-10 pl-20 pr-20 login-main h-full">
  
  <div class="flex flex-col login-va pt-32">
    <h1>Bienvenido</h1>
    <mat-label class="m-2 mt-24 tc-mivivienda">Correo electrónico</mat-label>
    <mat-form-field appearance="outline" class="md:mr-10">
      <input
        matInput
        placeholder="ejemplo@email.com"
        [formControl]="email"
        required
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-label class="m-2 tc-mivivienda">Contraseña</mat-label>
    <mat-form-field appearance="outline" class="md:mr-10">
      <input
        matInput
        placeholder="*********"
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        required
      />
      <button
        mat-icon-button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        matSuffix
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="flex flex-row justify-center">
    <button
      mat-raised-button
      class="self-center2" 
      color="primary"
      [disabled]="!email.valid || !password.valid"
      (click)="checkUser()"
    >
      INICIAR SESIÓN
    </button>
  </div>
  </div>
</div>
