<app-navbar [title]="'Simulador de nuevo crédito mivivienda'"></app-navbar>
<form class="flex flex-col mx-40 my-10" [formGroup]="simulatorForm">
  <div class="flex flex-row justify-between mb-5">
    <div class="flex flex-col w-5/12">
      <mat-label class="my-1 font-bold text-lg">Nombres</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Name" formControlName="name" required />
        <mat-error
          *ngIf="simulatorForm.get('name')?.invalid || simulatorForm.get('name')?.errors?.['pattern']">{{
          getOnlyLettersErrorMessage("name")
          }}</mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col w-5/12">
      <mat-label class="my-1 font-bold text-lg">Apellidos</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Apellidos"
          formControlName="lastname"
          required />
        <mat-error
          *ngIf="simulatorForm.get('lastname')?.invalid || simulatorForm.get('lastname')?.errors?.['pattern']">{{
          getOnlyLettersErrorMessage("name")
          }}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="flex flex-col mb-5">
    <mat-label class="mb-2 font-bold text-lg">Moneda</mat-label>
    <div>
      <mat-button-toggle-group #moneda="matButtonToggleGroup"
        class="button-group">
        <mat-button-toggle value="'soles'" checked (click)="setMoney('soles')">
          <div class="flex flex-row">
            <img
              class="p-3 mt-2"
              src="../../../assets/images/soles.png"
              alt="Soles" />
            <h2 class="self-center pt-1 ml-0 pr-5">Soles</h2>
          </div>
        </mat-button-toggle>
        <mat-button-toggle value="'dolares'" (click)="setMoney('dolares')">
          <div class="flex flex-row mt-1.5">
            <img
              class="p-3 mt-1"
              src="../../../assets/images/dolares.png"
              alt="Dólares" />
            <h2 class="self-center pt-1 ml-0 pr-5">Dólares</h2>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <mat-label class="mb-2 mt-4 font-bold text-lg">¿Cuánto es su ingreso mensual? </mat-label>
  <div>
    <mat-label class="my-1">{{ verifyMoney() }}</mat-label>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="0000"
        formControlName="ingreso_mensual"
        required
        type="number" />
      <mat-error *ngIf="simulatorForm.get('ingreso_mensual')?.hasError('min')">{{
        getMinValueErrorMessage("ingreso_mensual", 500)
        }}</mat-error>
      <mat-error *ngIf="simulatorForm.get('ingreso_mensual')?.hasError('max')">{{
        getMaxValueErrorMessage("ingreso_mensual", 10000)
        }}</mat-error>
    </mat-form-field>
  </div>

  <mat-label class="mb-2 font-bold text-lg">Valor de la Vivienda </mat-label>
  <mat-slider
    [max]="precioViviendaMax"
    [min]="precioViviendaMin"
    [step]="1000"
    [discrete]="true"
    [showTickMarks]="true">
    <input matSliderThumb formControlName="precio_vivienda"
      value="{{simulatorForm.get('precio_vivienda')?.value}}" />
  </mat-slider>
  <div class="mb-5">
    <mat-label class="my-1">{{ verifyMoney() }}</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="number"
        value="{{simulatorForm.get('precio_vivienda')?.value}}"
        formControlName="precio_vivienda" required>
      <mat-error *ngIf="simulatorForm.get('precio_vivienda')?.hasError('min')">{{
        getMinValueErrorMessage("precio_vivienda", precioViviendaMin)
        }}</mat-error>
      <mat-error *ngIf="simulatorForm.get('precio_vivienda')?.hasError('max')">
        {{
        getMaxValueErrorMessage("precio_vivienda", precioViviendaMax)
        }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-col mb-5">
    <mat-label class="my-2 font-bold text-lg">¿Ha recibido anteriormente apoyo habitacional?</mat-label>
    <div>
      <mat-button-toggle-group #apoyo_habitacional="matButtonToggleGroup"
        class="button-group">
        <mat-button-toggle value="true" (click)="setHousingSupport(true)">
          <div class="flex flex-row">
            <img
              class="p-3 mt-1.5"
              src="../../../assets/images/check.png"
              alt="Yes" />
            <h2 class="self-center pt-1 ml-0 pr-5">Sí</h2>
          </div>
        </mat-button-toggle>
        <mat-button-toggle value="false" checked
          (click)="setHousingSupport(false)">
          <div class="flex flex-row">
            <img
              class="p-3 mt-1.5"
              src="../../../assets/images/remove.png"
              alt="No" />
            <h2 class="self-center pt-1 ml-0 pr-5">No</h2>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <mat-label class="mb-2 mt-4 font-bold text-lg">Cuota Inicial</mat-label>

  <mat-slider
    [max]="simulatorForm.get('percentage_cuota_inicial_max')?.value"
    [min]="simulatorForm.get('percentage_cuota_inicial_min')?.value"
    [step]="0.1"
    [discrete]="true"
    [showTickMarks]="true"
    [displayWith]="formatSliderLabelPercentaje">
    <input matSliderThumb formControlName="percentage_initial_fee"
      value="{{simulatorForm.get('percentage_initial_fee')?.value}}" />
  </mat-slider>
  <div class="mb-5">
    <mat-label class="my-1 font-medium text-lg">{{ verifyMoney() +" "+ simulatorForm.get('cuota_inicial')?.value
      }}</mat-label>
    <!--
    <mat-form-field appearance="outline">
      <input matInput type="number" value="{{simulatorForm.get('cuota_inicial')?.value}}" formControlName="cuota_inicial" required updateOn="updatePercentajeInitialFee()">
      <mat-error *ngIf="simulatorForm.get('cuota_inicial')?.hasError('min')">{{
        getMinValueErrorMessage("precio_vivienda", precioViviendaMin)
      }}</mat-error>
      <mat-error *ngIf="simulatorForm.get('cuota_inicial')?.hasError('max')">{{
        getMaxValueErrorMessage("precio_vivienda", precioViviendaMax)
      }}</mat-error>
    </mat-form-field>
    -->
  </div>

  <mat-label class="my-2 font-bold text-lg">Bono del buen pagador</mat-label>
  <mat-card class="green w-4/12">
    <mat-card-content>{{verifyMoney()+ ' ' + this.simulatorForm.get('bono_buen_pagador')?.value}}</mat-card-content>
  </mat-card>
  <div class="flex flex-col">
    <mat-label class="mb-2 mt-4 font-bold text-lg">¿La vivienda es sostenible?</mat-label>
    <div>
      <mat-button-toggle-group #vivienda_sostenible="matButtonToggleGroup"
        class="button-group">
        <mat-button-toggle value="true" checked
          (click)="setSustainableHome(true)">
          <div class="flex flex-row">
            <img
              class="p-3 mt-1.5"
              src="../../../assets/images/tree.png"
              alt="Yes" />
            <h2 class="self-center pt-1 ml-0 pr-5">Sí</h2>
          </div>
        </mat-button-toggle>
        <mat-button-toggle value="false" (click)="setSustainableHome(false)">
          <div class="flex flex-row">
            <img
              class="p-3 bg-black mt-1.5"
              src="../../../assets/images/home_icon.png"
              alt="No" />
            <h2 class="self-center pt-1 pl-3 pr-5">No</h2>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <mat-label class="mb-2 mt-4 font-bold text-lg">Total Bono del buen pagador</mat-label>
  <mat-card class="green w-4/12">
    <mat-card-content>{{verifyMoney()+ ' ' + simulatorForm.get('total_bono')?.value}}</mat-card-content>
  </mat-card>
  <mat-label class="mb-2 mt-4 font-bold text-lg">Total Cuota Inicial</mat-label>
  <mat-card class="green w-4/12">
    <mat-card-content>{{simulatorForm.get('total_bono')?.value}}</mat-card-content>
  </mat-card>
  <span class="my-3"></span>
  <mat-card class="gray w-6/12">
    <mat-card-content>
      <div class="flex flex-row justify-between">
        <h2><b class="font-medium text-lg">Monto a financiar</b></h2>
        <p class="self-center">Monto</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-label class="mb-2 mt-4 font-bold text-lg">Tasa Efectiva Anual (%)</mat-label>
  <mat-label class="mb-2 mt-4 font-medium text-lg">TEA: {{simulatorForm.get('tasa_efectiva_anual')?.value}}
    %</mat-label>
  <mat-slider
    [max]="tasaEfectivaAnualMax"
    [min]="tasaEfectivaAnualMin"
    [step]="0.1"
    [discrete]="true"
    [showTickMarks]="true">
    <input matSliderThumb formControlName="tasa_efectiva_anual" />
  </mat-slider>
  <div class="flex flex-row justify-between">
    <div class="flex flex-col w-5/12">
      <mat-label class="my-1 font-bold text-lg">Seguro Degravamen Mensual (%)</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="0.00 %"
          formControlName="seguro_desgravamen_mensual"
          required />
        <!-- <mat-error *ngIf="simulatorForm.get('seguro_desgravamen_mensual')?.invalid">{{
      getMinLengthErrorMessage("name", 3)
    }}</mat-error> -->
      </mat-form-field>
    </div>
    <div class="flex flex-col w-5/12">
      <mat-label class="my-1 font-bold text-lg">Seguro de Inmueble Anual (%)</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="0.00 %"
          formControlName="seguro_inmueble_anual"
          required />
        <!-- <mat-error *ngIf="simulatorForm.get('seguro_inmueble_anual')?.invalid">{{
      getMinLengthErrorMessage("name", 3)
    }}</mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <mat-label class="my-2 font-bold text-lg">Plazo (en meses)</mat-label>
  <mat-slider
    [max]="plazoMesesMax"
    [min]="plazoMesesMin"
    [step]="1"
    [discrete]="true"
    [showTickMarks]="true">
    <input matSliderThumb formControlName="plazo" />
  </mat-slider>
  <mat-label class="mb-2 font-bold text-lg">Tasa de Costo Efectivo Anual(%)</mat-label>
  <mat-card class="green">
    <mat-card-content >
      <p class="font-medium"> TCEA </p>
    </mat-card-content>
  </mat-card>
  <span class="my-3"></span>
  <mat-card class="gray w-6/12">
    <mat-card-content>
      <div class="flex flex-row justify-between">
        <h2 class="tc-mivivienda"><b>Cuota Mensual</b></h2>
        <p class="self-center">Cuota</p>
      </div>
    </mat-card-content>
  </mat-card>
  <span class="my-3"></span>
  <div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!simulatorForm.valid"
      (click)="save()">
      <p class="uppercase">Guardar</p>
    </button>
  </div>
  <!-- <p>
    <pre>
      {{ simulatorForm.value | json }}
    </pre>
  -->
</form>