<div class="grid">
  <img
    src="../../../assets/images/mivivienda_logo.png"
    alt="Mi vivienda logo"
    class="p-4 justify-self-center"
  />
  <img
    src="../../../assets/images/home.png"
    alt="Home"
    class="p-4 justify-self-center"
  />
  <div class="m-10">
    <h1 class="tc-mivivienda font-montserrat">
      ¡Con Fondo MiVivienda, accede a tu hogar propio hoy mismo!
      <b>
        Construye tu futuro y asegura tu patrimonio con nuestro crédito
        accesible y confiable.
      </b>
    </h1>
  </div>
</div>
