<app-navbar
  [title]="'Consultas sobre el nuevo crédito mivivienda'">
</app-navbar>
<!-- <div class="history flex flex-row justify-evenly mt-10">
  <div class="container" style=" align-items: center;">
    <mat-card class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <div style="display: flex;">
                <div class="label-table" style="flex: 1; display: flex;">
                  Nombre
                </div>
                <div style="flex: 1; display: flex;">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Buscar" />
                    <button matSuffix mat-icon-button aria-label="Search">
                      <mat-icon>search</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div style="flex: 1; justify-content: flex-end;">
                  <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle value="cuadricula"
                      aria-label="Text align left">
                      <mat-icon>view_headline</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="lineal"
                      aria-label="Text align center">
                      <mat-icon>grid_on</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <mat-card class="card-plan">
              <mat-card-content>
                <td>Plan de pago 1</td>
                <td>Hace 1 hora</td>
                <td>
                  <div style="display: flex;">
                    <div class="botones">
                      <button
                        mat-raised-button
                        color="accent"
                        matBadgeColor="warn"
                        (click)="selectElement()">
                        COMPARAR
                      </button>
                    </div>
                    <div>
                      <button
                        mat-raised-button
                        color="warn"
                        matBadgeColor="warn"
                        (click)="showPlanDePagos()">
                        VER
                      </button>
                    </div>
                  </div>
                </td>
              </mat-card-content>
            </mat-card>
            <mat-card class="card-plan">
              <mat-card-content>
                <td>Plan de pago 2</td>
                <td>Hace 1 hora</td>
                <td>
                  <div style="display: flex;">
                    <div class="botones">
                      <button
                        mat-raised-button
                        color="accent"
                        matBadgeColor="warn"
                        (click)="selectElement()">COMPARAR</button>
                    </div>
                    <div>
                      <button
                        mat-raised-button
                        color="warn"
                        matBadgeColor="warn"
                        (click)="showPlanDePagos()">VER</button>
                    </div>
                  </div>
                </td>
              </mat-card-content>
            </mat-card>
            <mat-card class="card-plan">
              <mat-card-content>
                <td>Plan de pago 3</td>
                <td>Hace 1 hora</td>
                <td>
                  <div style="display: flex;">
                    <div class="botones">
                      <button
                        mat-raised-button color="accent"
                        matBadgeColor="warn"
                        (click)="selectElement()">COMPARAR</button>
                    </div>
                    <div>
                      <button
                        mat-raised-button
                        color="warn"
                        matBadgeColor="warn"
                        (click)="showPlanDePagos()">VER</button>
                    </div>
                  </div>
                </td>
              </mat-card-content>
            </mat-card>
          </tr>
        </tbody>

        <div *ngIf="showDialog">
          <button>Mostrar diálogo</button>
        </div>

      </table>
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page">
      </mat-paginator>
    </mat-card>
  </div>
</div> -->

<div class="card-body mb-10">
  <table mat-table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="text-center"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> +Info </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="showDetails(element)">
          <mat-icon>
            read_more
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick($event)">
    </tr>
  </table>

</div>

<div class="flex flex-row justify-center">
  <button
  class="self-center"
  mat-raised-button
  color="primary"
  [disabled]="selection.selected.length != 2"
  (click)="showConsoleMessage()">
  <p class="uppercase">Comparar</p>
</button>
</div>