<div class="main-container">
    <div  class="p-0">
        <h1 class="flex justify-center font-extrabold"><b>Plan de pagos</b></h1>
        <div>
            <h2>Nombre: {{data.planDePagos.nombre}} {{data.planDePagos.apellido}}</h2>
            <div class="flex justify-around">
              <div>
                <div class="tabla">
                  <table>
                    <tr>
                      <td class="card5">Moneda:</td>
                      <td class="card4"> {{data.planDePagos.moneda}}</td>
                    </tr>
                    <tr>
                      <td class="card5">Valor de la vivienda:</td>
                      <td class="card4"> {{verifyMoney() + ' ' + data.planDePagos.valorVivienda}} </td>
                    </tr>
                    <tr>
                      <td class="card5">Cuota inicial:</td>
                      <td class="card4">{{ verifyMoney() + ' ' + data.planDePagos.cuotaInicial}} </td>
                    </tr>
                    <tr>
                      <td class="card5">Bono de buen pagador:</td>
                      <td class="card4">{{ verifyMoney() + ' ' + data.planDePagos.bonoBuenPagador}} </td>
                    </tr>
                    <tr>
                      <td class="card5">Importe del préstamo:</td>
                      <td class="card4">{{ verifyMoney() + ' ' + data.planDePagos.importePrestamo}} </td>
                    </tr>
                    <tr>
                      <td class="card5">Plazo de pago: </td>
                      <td class="card4"> {{data.planDePagos.plazoPago}} meses</td>
                    </tr>
                    <tr>
                      <td class="card5">Periodo de gracia: </td>
                      <td class="card4">{{data.planDePagos.periodoGracia}} meses </td>
                    </tr>
                  </table>
                </div>
            </div>
            <div>
              <div class="tabla">
                <table>
                  <tr>
                    <td class="card5">Banco:</td>
                    <td class="card4"> {{data.planDePagos.banco.nombre}}</td>
                  </tr>
                  <tr>
                    <td class="card5">Tasa efectiva anual:</td>
                    <td class="card4"> {{data.planDePagos.tea}} % </td>
                  </tr>
                  <tr>
                    <td class="card5">Seguro de desgravamen: </td>
                    <td class="card4">{{data.planDePagos.porcSeguroDesgravamen}}% </td>
                  </tr>
                  <tr>
                    <td class="card5">Seguro de vivienda:</td>
                    <td class="card4">{{data.planDePagos.porcSeguroVivienda}}% </td>
                  </tr>
                  <tr>
                    <td class="card5">Cuota Mensual:</td>
                    <td class="card4">{{ data.planDePagos.cuotaMensual}} </td>
                  </tr>
                  <tr>
                    <td class="card5">TCEA:</td>
                    <td class="card4"> {{ data.planDePagos.tcea }}%</td>
                  </tr>
                  <tr>
                    <td class="card5">VAN:  </td>
                    <td class="card4">{{data.planDePagos.van}} </td>
                  </tr>
                </table>
              </div>
          </div>
          <!--
              <ul class="list-disc">
                <li>Moneda: {{data.planDePagos.moneda}} </li>
                <li>Valor de la vivienda: {{verifyMoney() + ' ' + data.planDePagos.valorVivienda}}</li>
                <li>Cuota inicial: {{ verifyMoney() + ' ' + data.planDePagos.cuotaInicial}}</li>
                <li>Bono de buen pagador: {{ verifyMoney() + ' ' + data.planDePagos.bonoBuenPagador}}</li>
                <li>Importe del préstamo: {{ verifyMoney() + ' ' + data.planDePagos.importePrestamo}}</li>
                <li>Plazo de pago: {{data.planDePagos.plazoPago}} meses</li>
                <li>Periodo de gracia: {{data.planDePagos.periodoGracia}} meses</li>
              </ul>
              <ul class="list-disc">
                <li>Banco: {{data.planDePagos.banco.nombre}}</li>
                <li>Tasa efectiva anual: {{data.planDePagos.tea}} %</li>
                <li>Seguro de desgravamen: {{data.planDePagos.porcSeguroDesgravamen}}%</li>
                <li>Seguro de vivienda: {{data.planDePagos.porcSeguroVivienda}}%</li>
                <li>Cuota Mensual: {{ data.planDePagos.cuotaMensual}}</li>
                <li>TCEA: {{ data.planDePagos.tcea }}%</li>
                <li>VAN: {{data.planDePagos.van}}</li>
              </ul>
              -->
            </div>
        </div>
    </div>
    <div class="mt-5">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="w-16"> No. </th>
            <td mat-cell *matCellDef="let element" class="w-16"> {{element.position}} </td>
          </ng-container>
      
          <!-- Saldo capital Column -->
          <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef class="w-28"> Saldo Capital </th>
            <td mat-cell *matCellDef="let element" class="w-28"> {{element.saldo}} </td>
          </ng-container>

          <!-- Capital Column -->
          <ng-container matColumnDef="capital">
            <th mat-header-cell *matHeaderCellDef class="w-28"> Amortización </th>
            <td mat-cell *matCellDef="let element" class="w-28"> {{element.capital}} </td>
          </ng-container>
      
          <!-- interes Column -->
          <ng-container matColumnDef="interes">
            <th mat-header-cell *matHeaderCellDef class="w-28"> Interés </th>
            <td mat-cell *matCellDef="let element" class="w-28"> {{element.interes}} </td>
          </ng-container>
      
          <!-- segDesgravamen Column -->
          <ng-container matColumnDef="segDesgravamen">
            <th mat-header-cell *matHeaderCellDef class="w-28"> Seg. Desgravamen </th>
            <td mat-cell *matCellDef="let element" class="w-28"> {{element.segDesgravamen}} </td>
          </ng-container>

          <!-- segVivienda Column -->
          <ng-container matColumnDef="segVivienda">
            <th mat-header-cell *matHeaderCellDef class="w-28"> Seg. Vivienda </th>
            <td mat-cell *matCellDef="let element" class="w-28"> {{element.segVivienda}} </td>
          </ng-container>

          <ng-container matColumnDef="cuota">
            <th mat-header-cell *matHeaderCellDef class="w-28"> Importe de Cuota </th>
            <td mat-cell *matCellDef="let element" class="w-28"> {{element.cuota}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      <div class="flex flex-row justify-center">
        <button mat-raised-button class="self-center" [disabled]="veryfyButtonDisabled()" (click)="saveData()">
          GUARDAR CONSULTA
        </button>
      </div>
      <!--
      <div>
        <button mat-raised-button class="btn-save custom-button" [disabled]="veryfyButtonDisabled()" (click)="saveData()">
          Guardar Consulta
        </button>
      </div>
    -->
</div>